<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Edit Profile page</title>
</head>
<body>
    <h1>Pokemon Edit Profile page Form</h1>
    <h2>welcome <%=player.name%></h2>

    <form action = "/players/profile/<%=id%>?_method=PUT" method="post">
        Name: <input type="text" name="name" value="<%=player.name%>"> <br>
        Username: <input type="text" name="username"value="<%=player.username%>"><br>
        Password: <input type="text" name="password"value="<%=player.password%>"><br>
        Team: <input type="text" name="team" value="<%=player.Team.name%>"><br>
        
            <select id='selectedTeam'>
                <option>Teams</option>
                <% for(let i = 0;i < teams.length; i++) { let selected = ( i == 0 )
                    ? "selected" : ""; %>
                    <option value='<%=teams[i].id%>'><%=teams[i].name%></option>
                    <% } %>
            </select>
            <br>

        <input type="submit" value="Save">
        <link rel='stylesheet' href='/css/app.css'>
    </form>
    <form action="/players/profile/<%=id%>?_method=DELETE" method='POST'>
        <input type="submit" value="Delete Profile">
    </form>
</body>
</html>